/* Общие стили */
html {
  background: linear-gradient(45deg, #ff0000, #ff00dd);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Шапка сайта */
header {
    background-color: #7B001C;
    color: #ffffff;
    padding: 20px;
    text-align: center; /* Выравнивание по центру */
    border-radius: 100px;
    width: 75%;
    margin: auto;
}
  
  header h1 {
    font-size: 24px;
    margin: 0;
    display: center; /* Делаем элемент блочно-строчным */
}
  
  nav ul {
    display: flex; /* Устанавливаем flex-контейнер */
    justify-content: center; /* Выравниваем элементы по центру по горизонтали */
}
  
  nav li {
    margin-right: 20px; /* Добавляем отступ между элементами списка */
}
  
  nav a {
    color: #ffffff;
    text-decoration: none;
}
/* Секция "О нас" */
.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #ffffff;
}

.about h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.about p {
  line-height: 1.5;
}

/* Подвал */
footer {
  position: fixed; /* Устанавливаем позиционирование "fixed" */
  bottom: 0; /* Размещаем его внизу страницы */
  left: 0; /* Выравниваем его слева */
  right: 0; /* Выравниваем его справа */
  background-color: #7B001C;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 100px;
  width: 75%;
  margin: auto;
}
